In [ ]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
mapa = {
    'home' : 'principal',
    'how_it_works' : 'como_funciona',
    'contact' : 'contato',
    'bought' : 'comprou'

}
dados = dados.rename(columns = mapa) #renomeado as colunas a partir de um dicionário

In [ ]:
x= dados[['principal','como_funciona','contato']] #para selecionar mais de um valor precisamos passar o parametro dados[] como uma lista do python
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [ ]:
#separando os dados de treino e de teste

In [ ]:
dados.shape

(99, 4)

In [ ]:
treino_x = x[:75] #separando por volta de 75% dos dos para treino
treino_y = y[:75]
teste_x = x[75:] #separando por volta de 25% dos dos para teste
teste_y = y[75:]

print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC() #criando o modelo
modelo.fit(treino_x,treino_y) #mandando o modelo treinar com os parametros passados
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y,previsoes)*100
print('A acurácia foi %.2f%%' % acuracia)

A acurácia foi 95.83%

#Usando a biblioteca para separar treino e teste

In [ ]:
#fazer a separação do treino e do teste diretamente utilizando uma função

from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 #semenete // The seed() method is used to initialize the random number generator.

#a função train_test_split faz a separação dos dados aleatória, assim se rodarmos o codigo varias vezes iremos obtem acuracias diferentes
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, random_state = SEED ,test_size=0.25)
print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))
#o parametro seed retira a aleatoridade 

modelo = LinearSVC() #criando o modelo
modelo.fit(treino_x,treino_y) #mandando o modelo treinar com os parametros passados
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)*100
print('A acurácia foi %.2f%%' % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [ ]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [ ]:
#a proporção no teste e no treino são diferentes e pode ser arriscado para o modelo

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 #semenete // The seed() method is used to initialize the random number generator.

#a função train_test_split faz a separação dos dados aleatória, assim se rodarmos o codigo varias vezes iremos obtem acuracias diferentes
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, 
                                                        random_state = SEED,
                                                        stratify =y, 
                                                        test_size=0.25)
#stratify faz com que eu estratifique os dados de acordo com y, ou seja, na mesma proporção
print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))
#o parametro seed retira a aleatoridade 

modelo = LinearSVC() #criando o modelo
modelo.fit(treino_x,treino_y) #mandando o modelo treinar com os parametros passados
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)*100
print('A acurácia foi %.2f%%' % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [ ]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64